main{
    padding: 20px;
}

p{
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(6, 206, 73, 0.1);
    
}

h1{
    text-align: center;
}