h1 {
    text-align: center;
    margin-top: 20px;
}

.meresek {
    display: block;
    margin: 10px auto;
    color: white;
    
}

.meresbox {
    margin: auto;
    padding: 30px;
    text-align: center;
    background-color: blue;
    border-radius: 30px;
    max-width: 400px;
    width: 50%;
}

.meresbox h3 {
    margin-bottom: 20px;
}

.meresbox ol li {
    margin-bottom: 10px;
}

.likebtn {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin: 2px;
    cursor: pointer;
}

.dislikebtn {
    background-color: red;
    color: white;
    padding: 6px;
    border-radius: 30px;
    margin: 2px;
    cursor: pointer;
}